html, body {
  height: 100%;
}

body, td {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6C6C6C;
  background-color: #333;
  /* Improved handling of kerning pairs and ligatures in modern browsers */
  /* http://aestheticallyloyal.com/public/optimize-legibility/ */
  text-rendering: optimizeLegibility;
}

body.disconnected {
  opacity: 0.2;
}
input .disconnected {
  disabled: disabled;
}

html.mmenu-opened body {
  //opacity: 0.2;
}
#mmenu-blocker
{
	opacity: 0.5;
}

.startup-container {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 50%;
  height: 100%;
}

.startup {
  width: 103px;
}

.startup .ouroboros {
  display: inline-block;
  width: 103px;
  margin-left: -50%;
  padding: 0;
}

.mmenu-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#mainpage {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -145px;
}

.footer-container, .footer-backer {  /* sticky footer thanks to Ryan Fait http://ryanfait.com/ */
  display: block;
  height: 45px;
  margin-top: 100px;
  width: 100%;
  //clear: both;
}

.cursor-hider {  /* a place to park the cursor to make it go away in full screen mode */
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 100%;
  z-index: 20;
}

.greeting {
  visibility: hidden; /* helps with a FOUC from dynamically loading the welcome screen css */
}

@media (min-width: 1900px) {
  /* i got tired of the damn cursor hiding bugs that make my cursor disappear */
  /* so this is a clumsy attempt to restrict to just fullscreen mode */
  .cursor-hider {
    cursor: none;
  }
}


ul {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

li {
  list-style-type: none;
}

li.h {
  float: left;
  white-space: normal;
}

/* clear fix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}


.albumcontainer {
  margin-right: 80px;
}

/**************************************************/

.artistlist {
  position: relative;
  margin-left: -62px;
  margin-right: 12px;
}

.artistname-container {
  margin-left: 62px;
}
.artistname {
  font-size: 36px;
  line-height: 36px;
  color: #6C6C6C;
  font-weight: 100;
}

.expand:hover, .gotothere:hover {
  cursor: pointer;
  /*text-shadow: 2px 2px 20px white;*/
  color: #999;
}

.currenttrack .gotothere:hover {
  /*text-shadow: 1px 1px 5px white, 1px 1px 10px white;*/
}

.expand.active, .expand.active:hover, .expand:active, .gotothere.active, .gotothere.active:hover, .gotothere:active
{
  color: #AAA;
  color: #BF6F04;
  text-shadow: none;
}

.albumname {
  min-height: 40px;
  padding: 0px;
  margin-top: 8px;
  display: inline-block;
  font-size: 24px;
  line-height: 40px;
  color: #6C6C6C;
  vertical-align: bottom;
  font-weight: 100;
}

.albumname > .stars {
  margin-top: 8px;
}

.thumbnails {
  display: inline-block;
  position: relative;
  margin-left: 32px;
  top: 4px;
}

.thumb {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-right: 2px;
  color: #6C6C6C;
  background-color: #222; /* none more black */
  //border: 3px solid rgba(0,0,0,0);
  border: 3px solid #333;
}

.thumb:hover {
  cursor: pointer;
  border-color: #999;
  border: 3px solid #999;
}

.thumb.active {
  border-color: #AAA;
  color: #BF6F04;
  border: 3px solid #AAA;
  border: 3px solid #BF6F04;
}

.thumb.px40 {
  width: 40px;
  height: 40px;
  //border: 2px solid rgba(0,0,0,0);
  border: 2px solid #333;
}

.thumb.px40:hover {
  border: 2px solid #999;
}

.thumb.px40.active
{
  border: 2px solid #AAA;
  border: 2px solid #BF6F04;
}

.thumb.px120 {
  width: 120px;
  height: 120px;
}

.thumb.px200 {
  width: 200px;
  height: 200px;
}

.thumb.px200 img {  /* we need to precompute 200px images FIXME */
  width: 200px;
  height: 200px;
}

.thumb.px300 {
  width: 300px;
  height: 300px;
}

.noimg {
  display: inline-block;
  vertical-align: top;
  background-color: #222;
  font-family: Courier, Times;
  overflow: hidden;
}

.noimg.px40 {
  width: 40px;
  height: 40px;
  font-size: 8px;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.noimg.px120 {
  width: 110px;
  height: 110px;
  font-size: 15px;
  padding: 5px;
}

.noimg.px200 {
  width: 200px;
  height: 200px;
  font-size: 15px;
  padding: 5px;
}

.noimg.px300 {
  width: 270px;
  height: 270px;
  font-size: 26px;
  font-family: Courier;
  line-height: 1em; /* something was mucking it up. artist? album? */
  color: #555;
  padding: 15px;
}

.noimgspacer {
  height: 16px;
}

.albumimg.lazy {
  opacity: 0;
//  background-color: #222; /* none more black */
//  //border: 1px solid rgba(0,0,0,0); /* FIXME why is this needed to make background color work when using a datauri?? */
}

img.albumimg {
  -webkit-transition: opacity 0.5s;
}

.sep:before {
  content: '▪';
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.sepgray:before {
  content: '▪';
  padding-left: 0.6em;
  padding-right: 0.6em;
  color: #6C6C6C;
  -webkit-font-smoothing: antialiased;
}

.enlist + .time.sep {
  padding-left: 0;
}

.sep { 
  position: relative;
  color: #6C6C6C;
}

.highlight { 
/*  font-weight: 700; */
  color: white;
}


.currenttrack {
  position: relative;
  min-height: 50px;
  max-height: 90px;
  width:100%;
  overflow: hidden;
  font-size: 19px;
  color: white;

  /* this allows two lines when things are long: */
  /*max-height: 1.99em;*/
  /*overflow: hidden;*/

  /* instead, let us try just letting things go as wide as they want: */
  /* max-height: 1.5em; */
  /* white-space: nowrap; */

  /*
  text-overflow: ellipsis;
  o-text-overflow: ellipsis;
  ms-text-overflow: ellipsis;
  */
}
//.size1 .currenttrack {
//  max-height: 50px;
//}

.currenttrack.song {
  font-size: 14px;
  font-weight: 700;
}

.playing.control, .playing.control:hover {
  color: white;
}

#time, #count {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 8px;
  font-size: 12px;
  color: #6C6C6C;
}

.filename, .dirpath {
  position: absolute;
  font-size: 12px;
  max-height: 1.5em;
  white-space: nowrap;
  /*overflow: scroll;*/
  overflow: hidden;
  color: #6C6C6C;
  /*margin-left: 23px;*/
}

.playing-container {
  position: relative;
  border-bottom: 2px solid #111;
}

.play-container {
  width: 38px;
  margin: 0 auto;
  padding-top: 10px;
}

.connect-container {
  width: 40px;
  height: 31px;
  margin: 0 auto;
  padding-top: 10px;
}

.volume-container, .volumelineout-container {
  position: relative;
  top: -32px;
  left: 90px;
  width: 100px;
  height: 0px;
  margin: 0 auto;
  cursor: crosshair; /* other candidates: text, col-resize, s-resize */
}
.volume, .volumelineout {
  display: inline-block;
  position: relative;
  left: 8px;
  top: 2px;
  height: 4px;
  width: 85px;
}

.lineout-container {
  display: inline-block;
  position: relative;
  top: 7px;
}
.size-container {
  position: absolute;
  top: 20px;
  right: 92px;
}
#size.bigger, #size.smaller {
  //position: relative;
  position: absolute;
  left: 5px;
  z-index: 2;
}
.size1 #size.smaller, .size2 #size.bigger {
  visibility: hidden !important;
}

#size.bigger .icon-zoomin {
  position: relative;
  //font-size: 20px;
  //top: -2px;
  //left: -2px;
}
.next-container.size2 {
  position: absolute;
  top: 94px;
  left: 20px;
}
.next-container.size1 {
  position: absolute;
  top: 48px;
  left: 20px;
}
.icon-remove {
}
.icon-play2 {
  //-webkit-font-smoothing: subpixel-antialiased;
}

.currenttrack-container.size2 {
  margin: 46px 400px 0 65px;
  min-height: 320px;
}
.currenttrack-container.size1 {
  margin: 0px 200px 0 65px;
  min-height: 220px;
}

.doubler {
  zoom: 2.0;
}

@media (min-width: 1900px) { /* >1905 doesn't work in app */
  html {
    zoom: 1.86;
    //zoom: 1.675;
  }
}

.size2 .currenttrack-binder {
  min-height: 270px;
}
.size1 .currenttrack-binder {
  min-height: 170px;
}


.currentsong-container {
}
.timeprogress-container {
  width: 100%;
  height: 29px;
  padding-right: 36px;
  margin-left: 1px;
  margin-top: 6px;
  margin-bottom: 12px;
  overflow: hidden;
}
.progress-maximum {
  padding-right: 100px;
}
.timeprogress-binder {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
}
.time-container, .count-container {
  display: inline-block;
  position: relative;
  top: -1px;
  margin-left: 10px;
}
.progress-container {
  display: inline-block;
}

.progress {
  width: 100%;
  display: inline-block;
  height: 10px;
  border: 2px solid #6C6C6C;
  border-radius: 2px;
  cursor: crosshair; /* other candidates: text, col-resize, s-resize */
}
.progress-indicator {
  height: 10px;
  background-color: #6C6C6C;
  /* transition: transform 1s linear !important; */
}


.currentalbum-container {
  display: inline-block;
}
.currentyear-container {
  display: inline-block;
}
.currentartist-container {
  margin-top: 2px;
}
.size2 .currenterrata-container {
  font-size: 12px;
  margin-top: 40px;
}
.size1 .currenterrata-container {
  font-size: 12px;
  margin-top: 10px;
}
.currenterrata-container .requestor-container {
  display: inline-block;
}
.currenterrata-container .requestor-container .requestor {
  color: white;
}
.owner-container {
  display: inline-block;
  position: relative;
  left: 1px;
}
.filename-container {
  display: inline-block;
  //position: absolute; /* keeps it from being clipped by it's container */
  margin-left: 2px;
  margin-top: 8px;
}
.filename-clipper {
  position: absolute;
  left: 0;
  width: 100%;
  height: 15px;
  overflow: hidden;
}
.filename-container .filename {
  margin-left: 66px;
}

.size2 .currentalbum-container, .size2 .currentartist-container {
  font-size: 24px;
  color: #6C6C6C;
}
.size1 .currentalbum-container, .size1 .currentartist-container {
  font-size: 18px;
  color: #6C6C6C;
}

.currentyear-container .year {
  display: inline-block;
  color: #6C6C6C;
}

.size2 .currentyear-container .year {
  margin-left: 20px;
  font-size: 19px;
}
.size1 .currentyear-container .year {
  margin-left: 14px;
  font-size: 14px;
}

.currentcover-container {
  position: absolute;
  cursor: pointer;
}
.size2 .currentcover-container {
  top: 50px;
  right: 50px;
}
.size1 .currentcover-container {
  top: 50px;
  right: 30px;
}
.size1 .thumb.px300 {
  width: 120px;
  height: 120px;
}
.size1 .thumb.px300 img {
  width: 120px;
  height: 120px;
}
.size1 .noimg.px300 {
  width: 110px;
  height: 110px;
  font-size: 15px;
  font-family: Courier, Times;
  padding: 5px;
}



.search .section {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  font-wieght: 700;
  clear: both;
}

.search .albumlist {
  clear: both;
}

.search .filename {
  margin-top: 4px;
}

.search .noresults {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 24px;
  font-wieght: 700;
}

.search .noresults:after {
  content: 'Nothing found';
  margin-left: 50px;
}

.ondeck-container {
  min-height: 71px;
  max-height: 350px;
  padding: 10px 0;
  overflow: hidden;
  border-bottom: 2px solid #111;
}

.ondeck-container.featured {
  height: 100%;
  border: none;
}

.ondeck
{
  height: 100%;
  clear: both;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.ondeck td {
  max-height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}

.ondeck .requestor-container {
  display: inline-block;
  position: relative;
  top: 2px;
  vertical-align: top;
  width: 100%;
  height: 16px;
  text-align: right;
  font-size: 11px;
  min-width: 46px;
  overflow: hidden;
}

.ondeck .requestor {
  margin-right: 6px;
  margin-left: 6px;
}


.ondeck .song.requested {
  color: white;
}

.ondeck .filename:before {  /* fix the sep */
  font-size: 14px;
}

.songs {
  margin-top: 10px;
}

.songs li {
  margin-left: 26px;
  max-height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
}

.albuminlist {
  display: block;
  //max-height: 52px !important;
  //height: 52px !important;
  min-height: 52px;
}

.starslist {
  margin-left: 25px;
}

.starslist .section {
  margin-top: 25px;
}

.download.control {
  margin-left: 8px;
}

.stars.control.teeny {
  margin-left: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.nostars, .none {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 24px;
  font-wieght: 700;
}

.songs .song {
  /* font-weight: 700; */
}

.letterbar-container {
  display: inline-block;
  width: 0;
}

.letterbar {
  margin-left: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.letterbar li {
  display: inline-block;
  opacity: 1;
  font-weight: 900;
  padding: 6px 4px 12px 4px;
  color: #6C6C6C;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  /*text-transform: lowercase;*/
}

.letterbar .gap {
  margin-left: 15px;
}

.letterbar li:hover {
  color: #999;
}

.letterbar .active, .letterbar .active:hover, .letterbar:active {
  color: #AAA;
  color: #BF6F04;
}

.channelbar-container {
  position: relative;
  min-height: 80px;
  width: 100%;
  background-color: #333;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 2px solid #111;
}

.channelbar {
  width: 100%;
  height: 100%;
  padding-top: 6px;
  vertical-align: top;
}

.channelbar-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 100%;
}

.channelbar-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 9px;
  margin-left: 64px;
  margin-right: 64px;
}

.channelbar-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 100%;
}

.channelbar-lower {
  padding-top: 50px;
  left: 0;
  right: 0;
  margin-left: 64px;
  margin-right: 10px;
}

.topcontrols-container {
  position: absolute;
  top: 0px;
  right: 10px;
}

.channelbar .notificationstoggle {
  position: relative;
  top: -3px;
  margin-left: 15px;
  -webkit-transform: rotate(180deg);
}
  
.channelbar .soundfxtoggle {
  position: relative;
  top: 3px;
}
  
.channelbar .notificationstoggle .icon-bubble3 {
}

.listeners-container {
}

.listeners {
  color: #111;
  /*font-size: 12px; for three rows*/
  /*font-size: 16px; /*for two rows*/
  font-size: 14px;
  font-style: normal;
  white-space: normal;
}

.listeners .count {
  white-space: nowrap;
}

.listeners .sep {
  color: #111;
  font-style: normal;
}

.listener {
  display: inline-block;
}

.listener.streaming {
  font-weight: 800;
}
.listener.inchat {
  color: #6C6C6C;
  color: #BF6F04;
}
.listener.typing {
  text-shadow: 2px 2px 20px #6C6C6C;
}
.listener.idle {
  font-style: italic;
}

.browse-container {
  margin-top: 17px;
  margin-left: 66px;
}

.browsecontrols-container {
  min-height: 56px;
  white-space: nowrap;
  overflow: hidden;
}

.search-container {
  display: inline-block;
}

.searchform {
  margin-top: 4px;
  margin-right: 2px;
}

.searchtext {
  width: 42px;
  padding: 3px 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1; /*huh? no units?*/
  color: rgba(255, 255, 255, 0.75);
  background: #333;
  border: 2px solid #6C6C6C;
  border-radius: 2px;
  transition: width 0.2s;
}

.searchtext:focus {
  width: 280px;
}

.searchtext-cancel {
}

.searchtext :-moz-placeholder {
  color: #6C6C6C;
}
.searchtext ::-webkit-input-placeholder {
  color: #6C6C6C;
}
.searchtext:hover {
  color: white;
  //background-color: #6C6C6C;
  border-color: #999;
}

.searchtext:focus, .searchtext.focused {
  //padding: 5px 10px;
  //background-color: #6C6C6C;
  //color: #999;
  //border: 0;
  outline: 0;
  border-color: #AAA;
  border-color: #BF6F04;
}

/*
::-webkit-input-placeholder  { color:#111; }
input:-moz-placeholder { color:#111; }
::-webkit-input-placeholder:focus  { color:blue; }
input:-moz-placeholder:focus { color:blue; }
*/

::-webkit-input-placeholder  { color:#6C6C6C;  font-weight: 700; }
input:-moz-placeholder { color:#6C6C6C; font-weight: 700; }
/*::-webkit-input-placeholder:focus  { color:blue; }*/
/*input:-moz-placeholder:focus { color:blue; }*/



.login-container {
  width: 100%;
  height: 150px;
  transition: height 0.2s, border-width 0s;
  border-bottom: 2px solid #111;
  overflow: hidden;
}

body.loggedin .login-container {
  height: 0px;
  border-bottom: 0px solid #111;
  transition: height 0.2s, border-width 0s ease 0.14s;
}

body.loggedout .ondeck-container,
body.loggedout .browse-container,
body.loggedout .next-container,
body.loggedout .ondeckchattoggle-container {
  display: none;
}

.login {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 250px;
}

.loginform {
  margin-top: 4px;
  margin-right: 2px;
}

.logintext {
  width: 226px;
  padding: 3px 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1; /*huh? no units?*/
  color: rgba(255, 255, 255, 0.75);
  background: #333;
  border: 2px solid #6C6C6C;
  border-radius: 2px;
  transition: none;
}

.logintext :-moz-placeholder {
  color: #6C6C6C;
}
.logintext ::-webkit-input-placeholder {
  color: #6C6C6C;
}
.logintext:hover {
  color: white;
  //background-color: #6C6C6C;
  border-color: #999;
}

.logintext:focus, .logintext.focused {
  //padding: 5px 10px;
  //background-color: #6C6C6C;
  //color: #999;
  //border: 0;
  outline: 0;
  border-color: #AAA;
  border-color: #BF6F04;
}

.ouroboros-container {
  display: inline-block;
  position: fixed;
  z-index: 2;
  //top: 10px;
  //right: 50px;
  bottom: 18px;
  right: 70px;
}

.debug-container {
  display: inline-block;
}

.debug {
  margin-left: 75px;
}

.mycaret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  filter: alpha(opacity=30);
  opacity: 0.3;
  content: "\2193";
}

.mycaret:after {
  content: "▼";
}

.dropdown .mycaret {
  margin-top: 8px;
  margin-left: 2px;
  *margin-top: 7px;
}

.dropdown:hover .mycaret {
  /*text-shadow: 1px 1px #BBB, 2px 2px #777, 3px 3px #444;*/
  text-shadow: 2px 2px 20px white
}

.browseresults-container {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.buttonless {
  visibility: hidden;
  position: absolute;
  left: 0px;
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
}

.control {
  font-family: 'icomoon';
  color: #6C6C6C;
  background-color: rgba(0,0,0,0);
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-shadow: none !important;
  cursor: pointer;
  border: none;
  margin: 0;
  /*padding: 0;*/
  vertical-align: top;
  /*letter-spacing: 0.01em;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control.enabled, .control.enabled:hover {
  visibility: visible !important;
  color: #BF6F04;
}

.control.large {
  height: 30px;
  width: 40px;
  border-radius: 3px;
  border-width: 3px;
  border-color: #6C6C6C;
  border-style: solid;
}

.control.wide {
  width: 110px;
}

.control:focus {
  outline: none;
}

.control:hover {
  color: #999;
  border-color: #999;
}

.control:active {
  color: #AAA;
  color: #BF6F04;
  border-color: #AAA;
  border-color: #BF6F04;
}

.control.immutable {
  pointer-events: none;
  cursor: inherit;
}

.control.medium {
  font-size: 32px;
  width: 38px;
}

.control.medium2 {
  font-size: 28px;
  width: 38px;
}

.control.small {
  font-size: 18px;
  width: 26px;
}

.control.tiny {
  padding: 2px 2px 2px 2px; /* trbl */
}

.control.teeny {
  position: relative;
  padding: 0px 0px 0px 0px; /* trbl */
  top: 1px;
}

.control.enqueue + span, .control.unqueue + span {
  margin-left: 0.3em;
}

.control.enqueue:before {
  content: '\e603';
  -webkit-font-smoothing: antialiased;
}

.control.unqueue:before {
  content: '\e604';
  -webkit-font-smoothing: antialiased;
}
.control.enqueue.unqueue:before {
  content: '\e604';
  -webkit-font-smoothing: antialiased;
}
//.control.enqueue.unqueue.first:before {
//  content: '\e62e';
//}

.control.stars.n0:before {
  content: '\e610\e610\e610';
  -webkit-font-smoothing: antialiased;
}
.control.stars.n1:before {
  content: '\e60f\e610\e610';
  visibility: visible !important;
  -webkit-font-smoothing: antialiased;
}
.control.stars.n2:before {
  content: '\e60e\e610\e610';
  visibility: visible !important;
  -webkit-font-smoothing: antialiased;
}
.control.stars.n3:before {
  content: '\e60e\e60f\e610';
  visibility: visible !important;
  -webkit-font-smoothing: antialiased;
}
.control.stars.n4:before {
  content: '\e60e\e60e\e610';
  visibility: visible !important;
  -webkit-font-smoothing: antialiased;
}
.control.stars.n5:before {
  content: '\e60e\e60e\e60f';
  visibility: visible !important;
  -webkit-font-smoothing: antialiased;
}
.control.stars.n6:before {
  content: '\e60e\e60e\e60e';
  visibility: visible !important;
  -webkit-font-smoothing: antialiased;
}

li.showall, li.showusers, li.shownewest, li.showcubes {
  position: relative;
  top: 2px;
}

.userlist .owner {
  font-size: 14px;
  text-align: right;
}

.userlist td {
  padding-right: 30px;
  padding-bottom: 2px;
  text-align: right;
}

li.showstars {
  position: relative;
  top: 1px;
}

li.showall {
  font-size: 28px;
  width: 16px;
  top: -3px;
}
li.showall .icon-grid {
  position: relative;
  left: -6px;
}
li.showcubes {
  font-size: 20px;
  width: 16px;
  top: 0px;
}
li.showcubes .icon-stack2 {
  position: relative;
  left: -2px;
}

.shy {
 /* things that hide until their parent is hovered over */
  visibility: hidden;
}

body.noshy .shy
{
  visibility: visible;
}


li:hover > .shy, div:hover > .shy, td:hover > .shy, span:hover > .shy, .reveal:hover .shy
{
  visibility: visible;
}

.albumdetails:hover .stars-container .stars {
  visibility: visible;
}

.channelbar .channelname-container {
  position: absolute;
}

.channelbar .channelname {
  display: inline-block;
  color: #6C6C6C;
  min-width: 150px;
  font-size: 26px;
  margin-right: 20px;
}

.hostname {
  font-size: 14px;
  padding-left: 2px;
  color: #111;
}

.channeltoggle {
  position: absolute;
  top: 7px;
  left: 15px;
  z-index: 10;
}

.channeltoggle .icon-close {
  font-size: 24px;
}

.ondeckchattoggle-container {
  position: relative;
}

.chattoggle-container {
  position: absolute;
  right: 10px;
  bottom: -1px;
  height: 4px;
  width: 44px;
  z-index: 9;
}

.chattoggle-container:hover, .ondeckchattoggle-container:hover .chattoggle-container {
  background-color: #333;
  border-left: 2px solid #111;
  border-right: 2px solid #111;
}


.ondeckchattoggle-container:hover .chattoggle.shy {
  visibility: visible;
}

.chattoggle {
  position: relative;
  top: -15px;
  z-index: 10;
}

.inchat .chattoggle-container {
  display: none;
}

.thisisme { 
  position: relative;
}

.listener:hover > .thisisme > .you {
  visibility: hidden;
}

.listener:hover > .thisisme > .logout {
  visibility: visible;
}

.you {
  padding-left: 4px;
}

.logout {
  position: absolute;
  visibility: hidden;
  left: 0px;
  top: -3px;
  z-index: 10;
}

.logo-container {
  width: 100%;
}

.channelbar .logo-container {
  margin-top: 5px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 115px;
  height: 30px;
  //background-image: url('/static/images/otto-6C-460x100.png');
  background-image: url('/static/images/otto-BF6F04-10-460x100.png');
  //background-image: url('/static/images/otto-BF6F04-6C-460x100.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-logo-container {
  margin-left: -33px; /* half of the browse-container left margin */
  margin-top: 100px;
  margin-bottom: 15px;
}

.footer-logo {
  cursor: n-resize;
}

#connect {
}

#connect .ouroboros {
  position: relative;
  top: 1px;
}

#connect .icon-play {
  position: relative;
  top: -1px;
  left: 2px;
  font-size: 21px;
  -webkit-font-smoothing: subpixel-antialiased;
}

#play {
  /* the play symbol is too small, so we bump it up... */
  /*font-size: 20px;*/
}

#next {
  /* symbol is too small, so we bump it up... */
  /*font-size: 20px;*/
}

#next.webcast {
  display: none;
}

#play.webcast {
  //margin-left: 55px;
  //margin-right: 55px;
}

.currenttrack-container .stars {
  display: inline-block;
  //position: absolute;
  //top: 58px;
  //left: -32px;
  position: relative;
  top: 12px;
  //top: 3px;
}

input[type="checkbox"] { 
  display: none;
}

input[type="checkbox"] + label { 
  font-family: 'icomoon';
  color: #6C6C6C;
  margin-right: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

#notifications {
  display: block;
  font-size: 14px;
}

input[type="checkbox"]:checked + #notifications { 
  visibility: visible !important;
}

#fx {
  display: block;
  position: relative;
  top: -3px;
  font-size: 14px;
}

input[type="checkbox"]:checked + #fx { 
  visibility: visible !important;
}

#lineout {
  display: inline-block;
  position: relative;
  margin-left: 8px;
  top: 1px;
  left: 12px;
  margin-top: 5px;
  font-size: 14px;
}

input[type="checkbox"]:checked + #lineout { 
  visibility: visible !important;
}

input[type="checkbox"] + label span {
  display: inline-block;
  position: relative;
  left: 0.3em;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  color: #6C6C6C;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

input[type="checkbox"] + label:before {
  content: '\e611';
  -webkit-font-smoothing: antialiased;
}

input[type="checkbox"]:checked + label:before {
  content: '\e612';
  -webkit-font-smoothing: antialiased;
}

input[type="checkbox"] + label:hover, input[type="checkbox"] + label:hover span {
  color: #999;
}

.mmenu.mmenu-horizontal ul  /* why isn't this working */
{
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4;
}
.mmenu * {
  text-shadow: none;
}
.mmenu li > div:hover {
  color: #999;
  cursor: pointer;
}

.ui-slider .ui-slider-handle {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  top: -5px;
  background-color: #6C6C6C;
  background-image: none;
}

.ui-slider .ui-slider-handle:focus {
  outline: none;
  /*
  background-color: #999;
  border-color: #999;
  */
}

.ui-slider .ui-slider-horizontal {
}

.ui-slider.ui-widget-content {
  background-image: none;
  background-color: #333;
  border: 2px solid #6C6C6C;
  border-radius: 2px;
}

.ui-slider .ui-slider-range {
  background-image: none;
  background-color: #6C6C6C;
}

.ui-slider:hover .ui-slider-handle {
  background-color: #999;
  border-color: #999;
}
.ui-slider:hover.ui-widget-content {
  border-color: #999;
}
.ui-slider:hover .ui-slider-range {
  background-color: #999;
  border-color: #999;
}


.ui-resizable-handle {
  background-color: #6C6C6C;
  /*padding-left: 40px;
  padding-right: 40px;*/
}
.ui-resizable-handle-s {
}

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: hand; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

.ui-resizable-s {
  display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; /* ui-icon */
  position: relative;
  top: 24px;
  left: 50%;
  width: 16px; height: 7px; background-image: url(images/ui-icons_222222_256x240.png);
  background-position: -16px -229px;
}

.varioussep {
  height: 2px;
  width: 100%;
  margin-bottom: 25px;
  background-color: #111;
}

/**** from albumdetails.html template ****/
/* needs to be integrated in to the above */

.albumlist-container {
  display: block;
  position: relative;
  background-color: #333;
  float: left;
  clear: both;
  margin-top: 10px;
  margin-right: 100px;
  margin-bottom: 25px;
  border: 2px solid #111;
  border-radius: 3px;
  padding: 10px;
//  z-index:999;
}

.albumlist-container td {
  background-color: #333;
}

.albumlist {
}

.albumlist .albumname {
  margin-left: 14px;
}

.newestowner {
  margin-top: 40px;
  margin-bottom: 10px;
//  margin-left: 62px;
}

.albumdetails {
  position: relative;
  margin-top: 10px;
  padding-bottom: 30px;
  min-height: 250px;
  overflow: hidden;
}

.albuminfo > .album .stars {
  margin-top: 4px;
}

.albumcover-container {
  position: absolute;
  top: 30px;
  left: 40px;
}

.albumcover .stars-container {
  position: relative;
  width: 100%;
}
.albumcover .stars-container .stars {
  top: 11px;
  left: -6px;
  float: left;
  padding-top: 0px;
  padding-right: 5px;
  font-size: 16px;
  font-weight: 700;
  z-index: 10;
}

.albumcover .year-container {
  position: relative;
  width: 100%;
}
.albumcover .year {
  float: right;
  padding-top: 12px;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 700;
}

.albuminfo {
  padding-top: 38px;
  padding-left: 285px;
  min-width: 400px;
}

.albuminfo .artist { 
  font-size: 24px;
  font-weight: 700px;
  position: relative;
}

.albuminfo .album {
  font-size: 24px;
  font-weight: 700px;
  color: white;
  position: relative;
}

.albuminfo .owner {
  font-size: 12px;
}

.albumsongs {
  position: relative;
  left: -21px;
  margin-top: 20px;
}

.albumsongs td {
  line-height: normal !important;
  font-size: 16px;
}

.albummisc {
  clear: both;
  margin-left: 10px;
  font-family: fenwick-1, fenwick-2, serif;
  font-family: Andale Mono, monospace;
  font-size: 14px;
}

.albumdir {
  position: absolute;
  bottom: 5px;
  left: 288px;
}

.inqueue {
  color: white
}
.ondeck .inqueue {
  color: #6C6C6C;
}

.inqueue.first {
   font-weight: 700;
}

.closer:after { 
  content: 'x'
}

.closer {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  border: solid;
  border-width: 2px;
  border-color: #6C6C6C;
  background-color: transparent;
  opacity: 0.70;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
}

.close {
  position: absolute;
  top: 6px;
  left: 6px;
  opacity: 0.50;
  z-index: 10;
}

.close.lower {
  top: inherit;
  bottom: 6px;
  z-index: 10;
}

#dirbrowser #path li {
  color: green;
}
#dirbrowser #subdirs li {
  color: yellow;
}

#playlist {
  /* overflow: auto; */
  /*padding-bottom: 20px;*/
  border-bottom: 2px solid #111;
}

#playlist.featured {
  border-bottom: none;
}

#playlist ul {
}

#playlist .control {
  margin-left: 3px;
  margin-right: 3px;
}

#playlist-more {
  position: relative;
  float: left;
  bottom: 24px;
  width: 100%;
  height: 30px;
  z-index: 100;
  background-color: #111;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.console-container {
  display: none;
  position: relative;
  width: 100%;
  height: 176px;
  background-color: #333;
  font: inherit;
  border-bottom: 2px solid #111;
}

.console-container:focus {
  outline: none;
}

.console-container #input {
  font-size: 14px;
  font-family: DejaVu Sans Mono, monospace;
}

.console-container .chattoggle {
  position: absolute;
  top: 0px;
  right: 14px;
  z-index: 10;
  background-color: rgba(51,51,51,0.6);
}
.console-container .chattoggle .icon-close {
  font-size: 24px;
}

.output-container {
  margin-left: 18px;
}

.output {
  width: 100%;
  height: 145px;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
}

.input-container {
  position: absolute;
  left: 53px;
  right: 0px;
  bottom: 0px;
//  width: 100%;
  //padding-left: 53px;
}

.inputl {
  position: absolute;
  bottom: 1px;
  background-color: #333;
}

#prompt {
  display: inline-block;
  position: relative;
  bottom: 5px;
  padding-left: 2px;
  background-color: #111;
  font-size: 18px;
  /*line-height: 18px;*/
  font-weight: 800;
  background-color: #333;
  -webkit-font-smoothing: none;
}

#prompt:before {
  content: ']';
}

.inputr-container {
  position: absolute;
  bottom: 0;
  left: 13px;
  right: 0px;
  //margin-left: 13px;
  //width: 100%;
  background-color: #333;
}

#inputr {  /* this breaks if changed to .inputr! */
  display: inline-block;
  background-color: #333;
}

#input {
  top: 1px;
  width: 100%;
  height: 1.3em;
  border: none;
  outline: none;
  background-color: #111;
  color: #fff;
  font: inherit;
  margin: 0;
  padding: 0;
  resize: none;
  position: absolute;
  overflow: hidden;
}

#inputcopy {
  display: none;
  white-space: pre-wrap;
  min-height: 2em;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

.output em {
  font-style: italic;
}

.output strong {
  font-weight: 800;
}

.output .event {
  white-space: nowrap;
}

.event .user {
  padding-right: 1em;
}
.event .timestamp {
  display: inline-block;
  min-width: 40px;
}
.event p {  /* markdown converter emits 'p's */
  margin: 0;
  padding: 0;
}

.output .timestamp , .output .user {
  display: inline-block;
  vertical-align: top;
}

.output .timestamp {
  font-size: 10px;
  padding-top: 5px;
  color: #555;
  padding-right: 8px;
}

.output .sep:after {
  color: #555;
}

.output .user {
  font-size: 12px;
  padding-top: 3px;
  color: #555;
}

.output .sep {
  white-space: nowrap;
}

.output .message, .output .name {
  display: inline-block;
  padding-right: 200px; /* this doesn't work when usernames get big :( FIXME */
  font-size: 14px;
  white-space: normal;
  color: #6C6C6C;
}

.output p {
}

.cmd .clipboard {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.01;
    filter: alpha(opacity = 0.01);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.01);
    width: 2px;
}
.cmd > .clipboard {
    position: fixed;
}
.cmd {
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.cmd {
    padding: 0;
    margin: 0;
    height: 1.3em;
}
#terminal .terminal-output div {
    display: block;
}
/*
.cmd, #terminal .terminal-output, #terminal .terminal-output div,
#terminal .terminal-output div div, .cmd, .cmd span, .cmd div {
    font-family: monospace;
    color: #6C6C6C;
    background-color: #000;
    font-size: 16px;
    line-height: 16px;
}
*/
.cmd span {
    float: left;
}
.cmd span.inverted {
    background-color: #6C6C6C;
    color: #000;
}
.cmd div::-moz-selection, #terminal span::-moz-selection {
    background-color: #6C6C6C;
    color: #000;
}
.cmd div::selection, #terminal span::selection {
    background-color: #6C6C6C;
    color: #000;
}
#terminal .terminal-output div.error, #terminal .terminal-output div.error div {
    color: red;
}
.tilda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}
.clear {
    clear: both;
}
                    

.cmd {
    font-family: monospace;
    color: #6C6C6C;
    background-color: #000;
    font-size: 16px;
    line-height: 16px;
}

#webcast-container {
  display: block;
  position: relative;
  height: 800px;
  /*width: 1300px;*/
  overflow: hidden;
}

#webcast-background {
  display: block;
  position: absolute;
  top: -400px;
  left: -300px;
  height: 1200px;
  width: 1600px;
  z-index: 0;
}

#webcast-background-attribution {
  position: fixed;
  bottom: 30px;
  right: 60px;
  color: #6C6C6C;
  font-size: 18px;
  font-weight: 800;
  padding: 10px 40px;
  background-color: rgba(51, 52, 51, 0.8);
  border-radius: 100px;
  z-index: 1;
}

#webcast-background-link:link, #webcast-background-link:visited, #webcast-background-link:active {
  color: #6C6C6C;
  text-decoration: none;
  background: none;
}

#webcast-background-link:hover {
 color: #999;
}

#webcast-overlay {
  display: block;
  position: absolute;
  top: 64px;
  left: 95px;
  padding: 10px 80px;
  background-color: rgba(51, 52, 51, 0.8);
  border-radius: 100px;
  z-index: 1;
}

#webcast-controls {
  display: inline-block;
  position: relative;
  top: -10px;
  margin-right: 30px;
}

.webcast-title {
    display: inline-block;
    width: 100%;
    color: lightgray;
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#webcast-compatability, #webcast-chatpointer {
    display: inline-block;
    width: 100%;
    color: #6C6C6C;
    text-align: center;
    font-size: 16px;
}

#archive-container {
  display: block;
  position: relative;
  height: 1200px;
  width: 1600px;
  overflow: hidden;
}

#archive-background {
  display: block;
  position: absolute;
  top: -400px;
  left: -300px;
  height: 1200px;
  width: 1600px;
  z-index: 0;
}

#archive-background-attribution {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #6C6C6C;
  font-size: 18px;
  font-weight: 800;
  background-color: none;
  z-index: 1;
}

#archive-background-link:link {
  color: #6C6C6C;
  decoration: none;
  background: none;
}
#archive-background-link:visited {
  color: #6C6C6C;
  decoration: none;
  background: none;
}
#archive-background-link:active {
  color: #6C6C6C;
  decoration: none;
  background: none;
}
#archive-background-link:hover {
  color: #6C6C6C;
  decoration: none;
  background: none;
}

#archive-overlay {
  display: block;
  position: absolute;
  margin-top: 30px;
  margin-left: 50px;
  /*background-color: rgba(0, 0, 0, 0.3);*/
  background-color: none;
  z-index: 1;
}

.archive-title {
    color: lightgray;
    font-size: 40px;
    margin-left: 80px;
}

.artistlist > .stars {
  display: inline-block;
  position: absolute;
  top: 24px;
}

.starreditem {
  margin-top: 1px;
  margin-left: 25px;
}

.starredartist > .stars {
  top: 12px;
}

.starredalbum > .stars {
  top: 20px;
}

.starreditem .artistlist {
  display: inline-block;
  margin-top: 2px;
  margin-left: -43px;
  margin-bottom: 5px;
}

.starredalbum {
  margin-top: -1px;
  margin-bottom: 7px;
}

.starreditem .albumlist {
  display: inline-block;
  margin-left: -12px;
}

.search .artistlist {
  margin-left: -15px;
}

.search .albumlist {
  margin-left: 15px;
}

.albumall {
  display: inline-block;
  position: relative;
}
.albumall .stars {
  display: inline-block;
  position: absolute;
  top: 106px;
  left: 64px;
  //background-color: rgba(0,0,0,0.3);
  z-index: 10;
}

.channellist-container {
}

.channellistheader {
  height: 81px;
  border-bottom: 2px solid black;
}

/*
.channellistheader .channeltoggle .span {
  font-size: 100px;
}
*/

.channelselect {
  position: relative;
  top: 1px;
  padding-top: 10px;
  margin-left: 40px;
  margin-right: 60px;
}

.channelselect .channelname {
  height: 23px;
}

.currentchannel .channelselect { 
  color: #BF6F04;
}

.channellisteners {
  min-height: 23px;
  line-height: 18px;
  //font-weight: 300;
}

.channellisteners .count {
  margin-right: 14px;
}

.channelsettings { 
  position: absolute;
  width: 10px;
  padding: 10px 25px 35px 8px;
  top: 1px;
  left: 3px;
}

.channelsettings .icon-info {
  font-size: 20px;
}

.open .channelsettings {
  visibility: visible;
}

.changechannel .settings {
  position: relative;
  top: 2px; /* the extra 2px hides border */
  height: 0;
  margin: 10px 16px 0 15px;
  padding: 0px 0 0 20px;
  //border-top: 2px solid #111;
  overflow: hidden;
  transition: height 0.2s ease 0.14s;
}
.open.changechannel .settings {
  height: 70px;
}

.changechannel .settings .channelsettings {
  position: absolute;
  top: 2px;
  left: 274px;
}

.changechannel .settings .channelplay {
  position: relative;
  top: 22px;
  left: 1px;
}
.changechannel.playing .settings .channelplay .icon-play2:before {
  content: "\e602";
}
.changechannel .settings .volumelineout-container {
  top: -12px;
  left: -35px;
}

.changechannel .channelerrata-container {
  position: absolute;
  width: 100%;
  top: 1px;
  left: 5px;
  color: #111;
  font-size: 12px;
}
.changechannel .time-container {
  position: relative;
  width: 113px;
  height: 18px;
  top: 0px;
}
.changechannel .time {
  position: absolute;
  top: 2px;
  right: 0px;
}
.changechannel #time,
.changechannel #total-time {
  color: #111;
}
.changechannel .audio {
  position: absolute;
  top: 0px;
  left: 170px;
  color: #111;
  font-size: 12px;
}
.changechannel .bitrate {
  position: absolute;
  top: 0px;
  right: 78px;
  color: #111;
  font-size: 12px;
}

.changechannel .crossfade, .changechannel .replaygain {
  position: relative;
  bottom: 6px;
  font-size: 14px;
}

.changechannel .crossfade {
  left: 175px;
}

.changechannel .replaygain {
  left: 190px;
}

.changechannel .settings .channelsettings .icon-close {
  font-size: 16px;
}

.channeloutput {
  position: absolute;
  width: 10px;
  padding: 10px 35px 35px 8px;
  top: 2px;
  right: 0px;
  z-index: 10;
}

.lineout .channeloutput {
  visibility: visible;
}

.lineout .channeloutput .icon-volume-mute:before {
  visibility: visible;
  content: "\e638";
}

.currentchannel .channeloutput .icon-volume-mute:before { 
  visibility: visible;
  font-weight: 700;
  color: #BF6F04;
  content: "\e63a";
}

.currentchannel.lineout .channeloutput .icon-volume-mute:before { 
  content: "\e638";
}


@media (max-width: 480px) {
  .chattoggle { display: none; }
  .logo-container { display: none; }
  .listeners-container { display: none; }
  .shy {
    visibility: visible;
  }
  .channelbar-container {
    border: none;
    height: 150px;
  }

  .channeltoggle {
    left: -20px;
  }

  .maincontrols-center {  /* not used anymore */
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -200px;
  }
  .control {
    -webkit-transform: scale(1.3, 1.3);
  }
  .channeltoggle {
    -webkit-transform: scale(1.2, 1.2);
  }

  .next-container {
    position: absolute;
    top: -242px;
    left: -2px;
  }
  .currenttrack-container {
    margin-top: 350px;
  }

  .currentcover-container {
    position: absolute;
    top: -380px;
    width: 300px;
    -webkit-transform: scale(0.5, 0.5);
    left: 50%;
    margin-left: -150px;
  }
  .currentcover-container img {
  }
  .time-container {
    display: block;
    position: absolute;
    top: -22px;
    left: 120px;
    -webkit-transform: scale(1.5, 1.5);
  }
  .progress-container {
    position: absolute;
    top: -50px;
    left: 80px;
    -webkit-transform: scale(2.0, 2.0);
  }
  .progress {
    width: 140px !important;
  }

  .currentsong-container {
    position: absolute;
    top: -140px;
    left: 20px;
  }
  .currentalbum-container {
    position: absolute;
    top: -110px;
    left: 20px;
  }
  .currentartist-container {
    position: absolute;
    top: -85px;
    left: 20px;
  }
  .currentyear-container {
    position: absolute;
    top: -238px;
    right: 20px;
  }
  .currenttrack {
    overflow: visible;
  }
  .currenttrack .stars {
    position: absolute;
    top: -150px;
    left: 230px;
  }

}


@media (min-width: 481px) {
}
